@model wvDevOps.Helpers.ConsulWV

@{
    ViewBag.Title = "EnvBuild";
}

<h2>EnvBuild</h2>

<div>
    <h4>ConsulWV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.consulUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consulUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
