@{
    ViewBag.Title = "Environment Management";
}

<h2>Environment Management</h2>


<div class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Environments</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                @if (ViewBag.ConsulResult != null)
            {
                foreach (string val in ViewBag.ConsulResult)
                {
                        <tr>
                            <td align="center" class="class=" btn btn-link">@Html.ActionLink(val.ToString(), "EnvDetails", new { name = val.ToString() }, new { style = "text-docration:none;" })</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No environments exist!</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    </div>
    <div style="font-family :Arial">
        <p>@Html.ActionLink("New Environment", "AddEnv")</p>
    </div>
