@{
    ViewBag.Title = "Environment Management";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Environment Management</h2>
<br />

<table class="table">
    <tr>
        <td width="20%">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Environments</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>
                                <table>
                                    @if (ViewBag.ConsulResult != null)
                                    {
                                        foreach (string val in ViewBag.ConsulResult)
                                        {
                                    <tr>
                                        <td>@Ajax.ActionLink(val.ToString(), "EnvDetails", new { name = val.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "envdetails", InsertionMode = InsertionMode.Replace }) </td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                    <tr>
                                        <td>No environments exist!</td>
                                    </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @Html.ActionLink("New Environment", "AddEnv", null, new { @class = "btn btn-primary btn-sm" })
        </td>
        <td width="60%"><div id="envdetails"></div></td>
        <td width="20%"><div id="jobs"></div></td>
    </tr>
</table>