@{
    ViewBag.Title = "Environment Management";
}

<h2>Environment Management</h2>

<div style="font-family :Arial">
    <p>Environments</p>
    @if (ViewBag.ConsulResult != null)
    {
        foreach (string val in ViewBag.ConsulResult)
        {
            @Html.ActionLink(val.ToString(), "Edit", new { env = val.ToString() })
            <br />
        }
    }
    else
    {
        <h3>No environments exist!</h3>
    }
    <br />
    <p>@Html.ActionLink("New Environment", "New")</p>

</div>