@model wvDevOps.Models.Env
@{
    ViewBag.Title = "Application Management";
}

<h2>Application Management</h2>
<br/>
<table class="table">
    <tr>
        <td width="20%">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Environments</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>
                                <table>
                                    @if (ViewBag.ConsulResult.Count > 0)
                                    {
                                        foreach (string val in ViewBag.ConsulResult)
                                        {
                                            <tr>
                                                <td>@Ajax.ActionLink(val.ToString(), "EnvDetailsRO", new { name = val.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "envdetailsro", InsertionMode = InsertionMode.Replace }) </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No environments exist!</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td width="60%"><div id="envdetailsro"></div></td>
        <td width="20%"><div id="jobs"></div></td>
    </tr>
</table>
