@model wvDevOps.Models.Env

@{
    ViewBag.Title = "Environment Details";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.name Environment Details</h3>
    </div>
    <div class="panel-body">
        <table class="table-condensed">
            <tr>
                <td>VPC CIDR</td>
                <td>@Html.DisplayFor(model => model.vpc_cidr)</td>
            </tr>
            <tr>
                <td>AWS Region</td>
                <td>@Html.DisplayFor(model => model.aws_region)</td>
            </tr>
            <tr>
                <td>Protected</td>
                <td>@Html.DisplayFor(model => model.protectedEnv)</td>
            </tr>
    </table>
</div>
</div>
